
body{
      background-color: white;
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      font-family: Georgia, 'Times New Roman', Times, serif;
}
.main{
      margin: 0px;

}
.first{
      margin: 0px;
      font-size: 30px;
      padding: 0px;

      display: flex;
      flex-direction: column;
      align-items: center;
}
.second{

      display: flex; 
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
}
.second input{

      margin: 0px;
      font-size: 15px;
      padding: 10px;
      width: 700px;
      border: 1px solid gray;
      border-radius: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;
}
.button{
      margin: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      cursor: pointer;
}




