.first{
      background-color:greenyellow;
        border-radius: 10px;
        padding: 25px;
        font-family: Arial, Helvetica, sans-serif;
  
   display: flex;
   flex-direction: column;
   gap:12px;
   align-items: center;}
.title{
      margin-top: 0px;
      margin-bottom: 20px;
      font-size: 30px;
      border: 30px;
}
label{
      font-size: 20px;
      font-weight: 700px;
      border: 20px;
}
.form-row{
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 10px;
}
.form-row input{
      height: 30px;
      width: 500px;
      font-size: 20px;
      padding: 7px;
      border-radius: 10px;

}
.form-row textarea{
      height: 70px;
      width: 500px;
      font-size: 10px;
      padding: 7px;
      border-radius: 10px;
      font-family: Arial, Helvetica, sans-serif;
}
.form button{
      height: 40px;
      border-radius: 10px;
      font-size: 15px;
      width: 200px;
      cursor: pointer;
      transition: 1s;
}
.form button:hover{
      filter: brightness(70%);
      transform: scale(105%)
}

.overlay{
      width: 100%;
      height: 100%;
      background-color: #000000e6;
     position: fixed;
     top: 0%;
     left: 0%;
     display: flex;
     align-items: center;
     justify-content: center;
}
.overlay .modal {
      width: 300px;
      height: 500px;
      border-radius: 10px;
      background-color: lightblue;
      padding: 15px;
      position: relative;
}
.close-button{
      margin: 0px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 30px;
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: 15px;
}

